@charset "UTF-8";
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css);

.loginbody{
    padding-top: 20px;
}

.logindiv{
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.loginerror{
	color: #FF0000;
}

.logintable{
    width:"300";
    height:"100";
}