<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>基金成分股</title>
    <link rel="stylesheet" th:href="@{/css/fund.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/source/util.js}"></script>
    <script type="text/javascript" th:src="@{/js/button.js}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body class="fundbody">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/fund/fund/}">Fund</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Fundstock</a>
        </li>
    </ul>
    <table>
        <tr>

            <td valign="top">
                <!-- Form Part -->
                <div class="container my-2">
                    <h1>加入基金</h1>
                    <form action="#" id="fundstock_form" th:action="@{/fund/fundstock/}" th:object="${fundstock}"
                        th:method="${_method}">
                        <div class="form-group">
                            <label for="name">序號</label>
                            <input type="text" th:field="*{id}" class="form-control" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="name">代號</label>
                            <input type="text" th:field="*{symbol}" class="form-control" placeholder="請輸入股票代號">
                            <span class="funderror" th:if="${#fields.hasErrors('*{symbol}')}"
                                th:errors="*{symbol}"></span>
                        </div>
                        <div class="form-group">
                            <label for="name">股數</label>
                            <input type="text" th:field="*{share}" class="form-control" placeholder="請輸入股數">
                            <span class="funderror" th:if="${#fields.hasErrors('*{share}')}"
                                th:errors="*{share}"></span>
                        </div>
                        <div class="form-group">
                            <label for="name">基金</label>
                            <select th:field="*{fund_id}">
                                <option value="">請選擇基金</option>
                                <option th:each="fund : ${funds}" th:value="${fund.id}" th:text="${fund.name}"></option>
                            </select>
                            <span class="funderror" th:if="${#fields.hasErrors('*{fund_id}')}"
                                th:errors="*{fund_id}"></span>
                        </div>
                        <!-- button here -->
                        <button type="submit" class="btn btn-primary" th:if="${_method.equals('POST')}">新增</button>
                        <button type="submit" class="btn btn-secondary" th:unless="${_method.equals('POST')}"
                            disabled>新增</button>
                        <button type="bottun" class="btn btn-primary" th:if="${_method.equals('PUT')}"
                            th:onclick="updataDataByIndex([[${fundstock.id}]],'fundstock_form',[[@{/fund/fundstock}]])">修改</button>
                        <button type="bottun" class="btn btn-secondary" th:unless="${_method.equals('PUT')}"
                            disabled>修改</button>
                        <button type="bottun" class="btn btn-primary" th:if="${_method.equals('PUT')}"
                            th:onclick="deleteDataByIndex([[${fundstock.id}]],'fundstock_form',[[@{/fund/fundstock}]])">刪除</button>
                        <button type="bottun" class="btn btn-secondary" th:unless="${_method.equals('PUT')}"
                            disabled>刪除</button>
                        <span class="btn btn-primary" th:if="${_method.equals('PUT')}">
                            <a th:text="重置" th:href="@{/fund/fundstock/reset}" style="color:white"></a>
                        </span>
                        <span class="btn gray-button disable-links" th:unless="${_method.equals('PUT')}">
                            <a th:text="重置" disabled="true"></a>
                        </span>
                        
                        <!-- errors message -->
                        <div th:each="err : ${#fields.errors('*')}">
                            <span th:text="${err}" class="fundinfo"></span>
                        </div>
                    </form>
                </div>
            </td>

            <td valign="top">
                <!-- List Part -->
                <div class="container my-2">
                    <fieldset>
                        <legend>
                            Fundstock List
                            <th:block th:each="page : ${#numbers.sequence(1, totalPage)}">
                                &nbsp;|&nbsp;<a th:href="@{'/fund/fundstock/page/'+${page}}" th:text="${page}"></a>
                            </th:block>
                        </legend>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">序號</th>
                                    <th scope="col">代號</th>
                                    <th scope="col">股名</th>
                                    <th scope="col">股數</th>
                                    <th scope="col">基金</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="fundstock : ${fundstocks}">
                                    <tr>
                                        <th scope="row" th:inline="text">
                                            <a th:href="@{'/fund/fundstock/'+${fundstock.id}}">[[${fundstock.id}]]</a>
                                        </th>
                                        <td th:text="${fundstock.symbol}"></td>
                                        <td th:text="${fundstock.name}"></td>
                                        <td th:text="${fundstock.share}"></td>
                                        <td th:text="${fundstock.fund.name}"></td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </td>
            <!-- Chart part -->
            <td valign="top">
                <div class="container my-2">
                    <fieldset>
                        <legend>
                            Fundstock Chart&nbsp;|&nbsp;
                            <a href="#" th:onclick="drawChart(1)">bar</a>&nbsp;|&nbsp;
                            <a href="#" th:onclick="drawChart(2)">pie</a>&nbsp;|&nbsp;
                            <a href="#" th:onclick="drawChart(3)">column</a>&nbsp;|&nbsp;
                        </legend>
                        <div id="piechart" style="width: 500px; height: 300px;"></div>
                    </fieldset>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" valign="top">
            <div class="container my-2">
            <form>
                <fieldset>
                    <legend>
                        走勢圖&nbsp;|&nbsp;
                        <a href="#" th:if="${fundstock.name}!=null" 
                                  th:text="${fundstock.name}+'('+${fundstock.symbol}+')'"></a>
                        <a href="#" th:unless="${fundstock.name}!=null">加權股價</a>
                    </legend>
                    <div id="stockchart" style="width: 1500px; height: 800px;"></div>
                </fieldset>
            </form>
            </div>
            </td>
        </tr>
    </table>

    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        $(function(){
            /*<![CDATA[*/
                /*[# th:if="${fundstock.symbol}==null"]*/
                drawStockChart('^TWII');
                /*[/]*/
                /*[# th:unless="${fundstock.symbol}==null"]*/
                drawStockChart(/*[[${fundstock.symbol}]]*/);
                /*[/]*/
                /*]]>*/
    
        });

        function drawChart() {
            drawChart(1);
            drawStockChart('^TWII');
        }

        function drawStockChart(symbol) {
            if(symbol == null){
                symbol = '^TWII';
            }
            $.get("/fund/fundstock/price/historicalQuote/" + symbol, function (quotes, status) {
                console.log("quotes", quotes);
                console.log("status", status);
                drawChatHist(symbol, quotes);
            });
        }

        function drawChatHist(symbol, quotes) {
            //建立 data 欄位
            var data = new google.visualization.DataTable();
            //定義欄位
            data.addColumn('string', "Date");
            data.addColumn('number', "High");
            data.addColumn('number', "Open");
            data.addColumn('number', "Close");
            data.addColumn('number', "Low");
            data.addColumn('number', "AdjClose");
            data.addColumn('number', "Volumn");
            //加入資料
            $.each(quotes, function (i, item) {
                var array = [getMD(quotes[i].date), quotes[i].high, quotes[i].open, quotes[i].close, quotes[i].low, quotes[i].adjClose, quotes[i].volume];
                data.addRow(array);
            });
            console.log("data:" + data);
            // 設定 chart 參數
            var options = {
                tittle: symbol + ' 日K線圖',
                legend: 'none',
                vAxes: [
                    { tittle: '股格'},  //走勢線範圍
                    { tittle: '成交量', minValue: 1, maxValue: 6000000 }  //成交量範圍
                ],
                series: {
                    1: { targetAxisIndex: 0, type: 'line', color: '#e7711b' }, //走勢線
                    2: { targetAxisIndex: 1, type: 'bars', color: '#cccccc' }  //成交量
                },
                candlestick: {  //陰陽線
                    fallingColor: { strokeWidth: 0, fill: '#0f9d58' }, // green
                    risingColor: { strokeWidth: 0, fill: '#a52714' }   // red
                },
                chartArea: { left: 100, top: 20 } //左側留白
            };
            var chart = new google.visualization.CandlestickChart(document.getElementById('stockchart'));
            chart.draw(data, options);
        }

        function drawChart(chartId) {
            var data = google.visualization.arrayToDataTable([
                ['symbol', 'share'], 
                /*<![CDATA[*/
                /*[# th:each="map : ${groupMap}"]*/
                [
                /*[[${map.key}]]*/, /*[[${map.value}]]*/
                ],
                /*[/]*/
                /*]]>*/
            ]);

            var options = {
                tittle: 'stock info'
            };

            var chart = new google.visualization.BarChart(document.getElementById('piechart'));
            switch (chartId) {
                case 2:
                    chart = new google.visualization.PieChart(document.getElementById('piechart'));
                    break;
                case 3:
                    chart = new google.visualization.ColumnChart(document.getElementById('piechart'));
                    break;
            }

            chart.draw(data, options);

        }
    </script>


</body>

</html>