<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>忘記密碼</title>
    <link rel="stylesheet" th:href="@{/css/user.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/passwordreset.js}"></script>
</head>
<body class="loginbody">
    <div class="container my-2 logindiv" style="width: 50%;">
        <h5>重設密碼</h5>
        <form action="#" id="login_form" th:action="@{/login/reset/}" 
            th:method="${session.passwordreset_flag}?put:post" th:object="${userdata}">
            <input id="session_validated" type="hidden" th:value="${session.passwordreset_validated}">
            <input id="session_success" type="hidden" th:value="${session.passwordreset_success}">
            <div class="form-group" th:if="${session.passwordreset_validated}==null or !${session.passwordreset_validated}">
                <label for="username" >使用者名稱或信箱</label>
                <input type="text" th:field="*{name}" class="form-control" id="username" aria-describedby="userhint" placeholder="Enter user name or email">
                <small id="userhint" class="form-text text-muted">請輸入使用者名稱或者註冊的信箱</small>
                <span class="loginerror" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></span>
            </div>
            
            <div class="form-group" th:if="${session.passwordreset_validated}!=null and ${session.passwordreset_validated}">
                <label for="password">密碼</label>
                <input type="password" th:field="*{password}" class="form-control" id="password" aria-describedby="passwordhint" placeholder="Enter password">
                <small id="passwordhint" class="form-text text-muted">密碼必須包含英文字母大小寫，數字或特殊符號，長度介於8~50之間</small>
                <span class="loginerror" th:if="${#fields.hasErrors('*{password}')}" th:errors="*{password}"></span>
            </div>
            <div class="form-group" th:if="${session.passwordreset_validated}!=null and ${session.passwordreset_validated}">
                <label for="checkpassword">再次輸入密碼</label>
                <input type="password" th:field="*{checkpassword}" class="form-control" id="checkpassword" placeholder="Enter password again">
                <span class="loginerror" th:if="${#fields.hasErrors('*{checkpassword}')}" th:errors="*{checkpassword}"></span>
            </div>
            <!-- 建立彈出視窗, 顯示驗證信已經寄出或者密碼修改成功 -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</body>
</html>