<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登入</title>
<link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body class="loginbody">
    <div class="container my-2 logindiv" style="width: 50%;">
        <h5>註冊會員</h5>
        <form action="#" id="login_form" th:action="@{/login/register/}" method="post" th:object="${userdata}">
            <div class="form-group">
                <label for="username">使用者名稱</label>
                <input type="text" th:field="*{name}" class="form-control" id="username" aria-describedby="userhint" placeholder="Enter user">
                <small id="userhint" class="form-text text-muted">使用者名稱必須由英文字母組成，長度介於2~20之間</small>
                <span class="loginerror" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></span>
            </div>
            <div class="form-group">
                <label for="email">電子郵件</label>
                <input type="email" th:field="*{email}" class="form-control" id="email" aria-describedby="emailhint" placeholder="Enter email">
                <span class="loginerror" th:if="${#fields.hasErrors('*{email}')}" th:errors="*{email}"></span>
            </div>
            <div class="form-group">
                <label for="password">密碼</label>
                <input type="password" th:field="*{password}" class="form-control" id="password" aria-describedby="passwordhint" placeholder="Enter password">
                <small id="passwordhint" class="form-text text-muted">密碼必須包含英文字母大小寫，數字或特殊符號，長度介於8~50之間</small>
                <span class="loginerror" th:if="${#fields.hasErrors('*{password}')}" th:errors="*{password}"></span>
            </div>
            <div class="form-group">
                <label for="checkpassword">再次輸入密碼</label>
                <input type="password" th:field="*{checkpassword}" class="form-control" id="checkpassword" placeholder="Enter password again">
                <span class="loginerror" th:if="${#fields.hasErrors('*{checkpassword}')}" th:errors="*{checkpassword}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</body>
</html>